pandas~=1.0.5
gunicorn
psycopg2-binary
SQLAlchemy~=1.3.18
asgiref
chardet
certifi
click
Django
h11
httptools
idna
joblib
pylsl
python-dateutil
pytz
scipy
setuptools
six
sqlparse
starlette
threadpoolctl
urllib3
uvicorn
uvloop
websockets
numpy~=1.18.5
tslearn~=0.4.1
fastapi~=0.58.1
pydantic~=1.5.1
python-osc~=1.7.4
sklearn~=0.0
scikit-learn~=0.23.1
matplotlib~=3.3.1
tensorflow-cpu