cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
Cython==0.29.21
fastapi==0.58.1
gast==0.3.3
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.31.0
gunicorn==20.0.4
h11==0.9.0
h5py==2.10.0
httptools==0.1.1
idna==2.10
joblib==0.15.1
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lightgbm==2.3.1
Markdown==3.2.2
matplotlib==3.3.1
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.5
protobuf==3.12.4
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-osc==1.7.4
pytz==2020.1
PyWavelets==1.1.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
sklearn-pandas==2.0.0
SQLAlchemy==1.3.18
starlette==0.13.4
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tslearn==0.4.1
urllib3==1.25.9
uvicorn==0.11.5
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1


# app.put and app.delete
# Or use app.post to run py files
# Results: app.get on new results with id
# Results: one table with session name, classify, and acc
# Update patient thorugh create new patient by replacing acc to id.